@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
  --font-serif: 'Roboto Slab Variable', serif;
}


body{
  cursor: default;
}
audio::-webkit-media-controls-panel {
  -webkit-justify-content: center;
  height: 25px;
  background-color: #efeee8;
  width: 25px;
}

audio::-webkit-media-controls-timeline {
  display: none !important;
}

audio::-webkit-media-controls-current-time-display {
  display: none;
}
audio::-webkit-media-controls-play-button {
  width:125px;
}
audio::-webkit-media-controls-time-remaining-display {
  display: none;
}